.banner {
  background-color: $banner-background-colour;
  color: $banner-text-colour;
  padding: 2.9em 0 3.2em;

  &-content {
    max-width: 700px;

    .page-label {
      font-size: 26px;
      line-height: 36px;
      font-weight: bold;
    }

    h1 {
      margin-top: 8px;
      color: $banner-text-colour;
    }

    p {
      margin-top: 8px;

      a {
        color: $banner-text-colour;
      }
    }
  }
}