// General high-level
$body-colour:  #F0F4F5;
$body-text-colour: #212b32;

$focus-background-colour: #FFB81C;
$focus-colour: #212B32;

// Header


// Banner
$banner-background-colour: #005EB8;
$banner-text-colour: #fff;

// Body


// Footer
$footer-background-colour: #334451;
$footer-text-colour: #fff;
$footer-link-focus-colour: #212B32;