#main-content {
  padding: 0 0 3.2em;

  .api-boxes {
    margin: 1em -12px 3.2em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    .api-box {
      padding: 16px 16px 20px;
      box-sizing: border-box;
      display:flex;

      .inner-box {
        background-color: #F9FAFB;
        border-bottom: 4px solid #DFE2E5;
        color: #425563;
        padding: 16px;
        flex: auto;

        h3 {
          color: #005eb8;
          font-size: 24px;
          line-height: 26pt;
        }

        ul {
          margin-top: .5em;
          padding-left: 1em;

          li {
            list-style: disc;
          }
        }
      }
    }
  }
}

@mixin main-content-small {
  #main-content {
    .api-boxes {
      .api-box {
        width: 100%;
      }
    }
  }

}

@mixin main-content-large {
  #main-content {
    .api-boxes {
      .api-box {
        width: 50%;
      }
    }
  }
}

@mixin  main-content-large-xl(){
  @include main-content-large;
}